header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  font-size: 1.2rem;
}

nav{
  margin-right: 10px;
}

a{
  color: rgb(0, 0, 0);
}
a:hover{
  color: #e8c999;
}